:root{
  --card-w: 360px;
  --card-h: 220px;
  --radius: 14px;
  --accent: #0a74ff;
  --bg: #f3f4f6;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

*{box-sizing: border-box}
html,body{height:100%}
body{
  background: var(--bg);
  display:flex;
  align-items:center;
  justify-content:center;
  padding:20px;
  margin:0;
  color:#111;
}

.card{
  width:var(--card-w);
  height:var(--card-h);
  background: linear-gradient(135deg,#2b2f4a 0%, #1f2438 100%);
  color: #fff;
  border-radius: var(--radius);
  padding:18px;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  gap:12px;
  box-shadow: 0 8px 30px rgba(15,20,40,0.45);
  position:relative;
}

/* small top items */
.card-brand{
  font-weight:700;
  letter-spacing:2px;
  align-self:flex-end;
  opacity:0.9;
}
.card-total{
  position:absolute;
  left:18px;
  top:18px;
  font-size:0.9rem;
  opacity:0.95;
}
.card-total .amount{
  font-weight:700;
  margin-left:6px;
}

.card-number{
  margin-top:18px;
  font-size:1.25rem;
  letter-spacing:4px;
  font-family: "Courier New", monospace;
}

.card-meta{
  display:flex;
  justify-content:space-between;
  gap:12px;
  align-items:center;
}
.card-meta label{
    font-size:0.65rem;
    opacity:0.85;
    display:block;
    margin-bottom:6px;

}

.exp-inputs{
    display:flex;
    align-items:center;
    gap:6px;
}

.exp-inputs span{
    opacity:0.7;
}

.card-number input,
.card-name input,
.card-exp input{
  background:transparent;
  border:0;
  color:#fff;
  font-weight:600;
  outline:none;
}

.inputs{
  margin-top:18px;
  display:flex;
  flex-direction:column;
  gap:8px;
  width:var(--card-w);
}

#expMonth,
#expYear {
    width: 20%;
}
#creditCardNumber{
  padding:12px;
  font-size:1rem;
  border-radius:8px;
  border:1px solid #d1d5db;
  outline:none;
  width:100%;
}
#creditCardNumber:focus{box-shadow:0 0 0 4px rgba(10,116,255,0.08)}
button{
  margin-top:8px;
  padding:10px 14px;
  border-radius:8px;
  border:0;
  background:var(--accent);
  color:#fff;
  font-weight:700;
  cursor:pointer;
}

.validation{font-size:0.9rem;color:#b91c1c}

.card-back {
  background: linear-gradient(135deg, #111827, #1f2937);
  z-index: 1;
  transform: translate(100px, 30px) scale(1);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 16px;
}

.mag-strip {
  position: absolute;
  top: 18px;            
  left: 0px;
  right: 0px;
  height: 42px;         
  background-color: grey
}

.cvv-area {
    position: absolute;
    bottom: 12px;
    right: 40px;
    background: #1f2937;
    padding: 6px 8px;
    border-radius: 6px;
    width: 50px;
    text-align: center;
}

.cvv-area input {
    width: 100%;
    border: none;
    background-color: #1f2937;
    outline: none;
    text-align: center;
    font-weight: 600;
}

.card-stack {
  position: relative;
  width: var(--card-w);
  height: var(--card-h);
}

#front-creditCard {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; 
}