body {
    font-family: Palatino Linotype, sans-serif;
    background: #f0f4f8;
}

.card {
    background: #313131;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.9);
    width: 400px; 
    margin: 100px auto;
}

.image img{
    width: 400px;
    border-radius: 15px 15px 0 0;
}

.name {
    font-size: 1.5em;
    font-weight: bold;
    margin: -4px 0 20px 0;
    color: white;
    padding: 15px 0 15px 35px;
    background-color: #5d747b;
}

.stats {
    display: grid;
    grid-template-columns: max-content 1fr;
    row-gap: 10px;
    column-gap: 10px;
    margin-left: 30px;
    text-align: left;
    align-items: center;
    color: white;
}

.stats h2, .stats p {
    margin: 0;
}

.buttons {
    text-align: center;
}

button {
padding: 8px 12px;
margin: 20px;
border: none;
border-radius: 8px;
background-color: #5d747b;
color: white;
font-weight: bold;
cursor: pointer;
transition: background-color 0.5s ease;
}

button:hover {
background-color: #58605a;
}            
                